html {
    background: linear-gradient(145deg, rgba(240, 98, 146, 1) 0%, rgba(221, 89, 133, 1 ) 98%);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.todo-done {
    text-decoration: line-through;
    color: rgb(240, 98, 146);
}

svg {
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
    transition: 0.5s;
}

svg:hover {
    color: rgb(240, 98, 146);
}